.row
  .col-1
    select.custom-select
      template(v-for="(step, index) in course")
        option {{ index + 1 }}
  .col-11
    template.col-11(v-for="step in item.extensionSteps")
      .input-group
        span.input-group-addon {{indexToLetter(step.index)}}
        input.form-control(v-model="step.text")
        span.input-group-btn
          button.btn.btn-success(title='New Step', v-on:click="addExtensionStep(index, step.index)")
            i.fa.fa-plus()
        span.input-group-btn
          button.btn.btn-success(title='Remove Step', v-on:click="removeExtensionStep(index, step.index)")
            i.fa.fa-remove()
hr