extends layout

block content
  .container#app
    template(v-for="item in items")
      .row
        .col-8
          .card
            .card-header
              h5.mb-0
                a(href="#") {{ item.name }}
            .card-block {{ item.description }}
              .row
                .col-6
                  p Actors:
                  ul
                    li Actor 1
                    li Actor 2
                .col-6
                  p Version: 10
              .row
                p Goal: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada mi id nibh lacinia, eget dapibus massa cursus.
                p Precondition: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada mi id nibh lacinia, eget dapibus massa cursus.
                p Poscondition: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada mi id nibh lacinia, eget dapibus massa cursus.
                p Description: {{ item.description }}
              .row
                p Steps:
                ul
                  li Step 1
                  li Step 2
                  li Step 3


    .row
      .col-4
        a.btn.btn-primary(href="new") Nuevo Caso de Uso

block scripts
  script(src="js/app.bundle.js", type="text/javascript")