extends layout

block content
  .container#app
    box(v-for="item in items" :item="item")
    .row
      .col-4
        a.btn.btn-primary(href="new") Nuevo Caso de Uso

block scripts
  script(src="js/app.bundle.js", type="text/javascript")