doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Use Cases Book

    link(rel="stylesheet", href="css/tether.css")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/font-awesome.css")
  body

    block header
      .container
        .row
          .col-3
            h3 Use Cases Book
          .col-9
            ul.nav.justify-content-center
              li.nav-item
                a.nav-link(href="#") Home
              li.nav-item
                a.nav-link(href="#") Other

    block content
    block footer
    block scripts
