doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Use Cases Book

    link(rel="stylesheet", href="css/tether.css")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/font-awesome.css")
  body
    div#app
      App
  script(type="text/javascript", src="js/app.js")